{#{% extends 'base.html.twig' %}#}

{#{% block title %}page d'accueil bonjouuuur{% endblock %}#}

{#{% block body %}#}
{#    <h1>Un titre</h1>#}
{#    <h2>Un sous-titre</h2>#}
{#    <p>un paragraphe</p>#}
{#    <p>----------------------</p>#}

{#    {% set ma_variable = "une variable" %}#}
{#    <p>{{ ma_variable }}</p>#}
{#    <p>----------------------</p>#}

{#    {% set ma_variable = 10 %}#}
{#    {% if ma_variable > 20 %}#}
{#        <p>{{ ma_variable }} est supérieur à 20</p>#}
{#    {% else %}#}
{#        <p>{{ ma_variable }} est inférieur à 20</p>#}
{#    {% endif %}#}
{#    <p>----------------------</p>#}

{#    <ul>#}
{#        {% for i in 'a'..'e' %}#}
{#            <li>{{ i ~ ' est une lettre' }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    <p>----------------------</p>#}

{#    {% set chaine = "Je suis une chaîne de caractères" %}#}
{#    <p>{{ chaine }}</p>#}
{#    <p>{{ chaine|upper }}</p>#}
{#    <p>{{ chaine|lower }}</p>#}
{#    <p>----------------------</p>#}

{#    {% set number = 1651.3545 %}#}
{#    <p>un nombre formaté avec 'number_format' : </p>#}
{#    <p>{{ number|number_format(2,'.') }}</p>#}
{#    <p>----------------------</p>#}

{#    {% set tableau = [1,2,3] %}#}
{#    <p>joindre un tableau des chiffres 1,2,3 : </p>#}
{#    <p>{{ tableau|join }}</p>#}
{#    <p>{{ tableau|join(',', ' and ') }}</p>#}
{#    <p>----------------------</p>#}

{#    {% if tableau|length < 4 %}#}
{#        <p>le tableau a moins de 4 entrées</p>#}
{#    {% endif %}#}
{#    <p>----------------------</p>#}

{#    <h3>Les variables définies dans le MainController : </h3>#}
{#    <p>Le booléen à 'true' : {{ var_bool }}</p>#}
{#    <p>La date de naissance formattée : {{ date_naissance|date('d/m/Y') }}</p>#}
{#    <p>Le contenu d'un tableau avec un 'join': {{ tableau|join(',', ' and ') }}</p>#}
{#    <p>Le contenu d'un tableau avec une boucle 'for' : </p>#}
{#    <ul>#}
{#        {% for i in tableau %}#}
{#        <li>{{ i }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endblock %}#}
