{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Wishes {% endblock %}

{% block body %}
<main>
    <ul class="list-group list-group-flush">
        {% for wish in wishes %}
        <li ><a class="list-group-item list-group-item-action" href="{{ path('wish_detail', {'id':wish.id}) }}">{{ wish.title }}</a></li>
        {% endfor %}
    </ul>
</main>
{#    <table>#}
{#        <tr>#}
{#            <th>Id</th>#}
{#            <th>Titre</th>#}
{#            <th>Description</th>#}
{#            <th>Publication</th>#}
{#            <th>Date de création</th>#}
{#            <th>Date de modification</th>#}
{#        </tr>#}
{#        {% for wish in wishes %}#}
{#            <tr>#}
{#                <td>{{ wish.id }}</td>#}
{#                <td>{{ wish.title }}</td>#}
{#                <td>{{ wish.author }}</td>#}
{#                <td>{{ wish.isPublished ? 'publié' : 'non publié'}}</td>#}
{#                <td>{{ wish.dateCreated ? wish.dateCreated|date('d/m/Y') : ''}}</td>#}
{#                <td>{{ wish.dateUpdated ? wish.dateUpdated|date('d/m/Y') : ''}}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </table>#}
{% endblock %}
